---
import { Icon } from 'astro-icon/components';

let { license, originURL, originAuthor, originTitle, editURL, historyURL } = Astro.props;

if (license == null) {
	license = 'CC-BY-SA-4.0';
}
let licenseURL = `https://spdx.org/licenses/${license}.html`;

let originLabel = 'this original source';
if (originURL != null) {
	if (originTitle != null) {
		originLabel = `"${originTitle}"`;
	}
	if (originAuthor != null) {
		originLabel += ` by ${originAuthor}`;
	}
}
---

<div class="page-footer">
	<span class="inline-flex items-center">
		<span><Icon name="tabler:history" class="w-4 h-4" /></span>
		<span class="ml-1 mr-1"
			>This page's <a href={historyURL}>content</a> is available under the <a href={licenseURL}>{license}</a> license.
			{
				originURL && (
					<span>
						It is derived from <a href={originURL}>{originLabel}</a>.
					</span>
				)
			}
		</span>
	</span>
	<br />
	<a class="inline-flex items-center" href={editURL}>
		<span><Icon name="tabler:code" class="w-4 h-4" /></span>
		<span class="ml-1 mr-1">Edit this page</span>
	</a>
</div>
